
.contactGrid {
    padding: 40px 70px 100px 70px;
    background-color: rgb(238, 234, 234);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: 2fr 1fr;
    column-gap: 10px;
    grid-template-areas:
    "mapa formularioContact"
    "mapa perrito";
}


.contactGrid .mapa {
    grid-area: mapa;
}

.contactGrid .formularioContact {
    grid-area: formularioContact;
}

.contactGrid .perrito {
    grid-area: perrito;
}

.perrito {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}