.gridAreas {
    display: grid;
    background-color: rgb(238, 234, 234);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "tituloIntro      ilustracionIntro"
        "textoIntro       ilustracionIntro";
}

.gridAreas .tituloIntro {
    grid-area: tituloIntro;
    padding: 100px 50px 0px 70px;
}

.gridAreas .textoIntro {
    grid-area: textoIntro;
    padding: 0px 50px 70px 70px;
}

.gridAreas .ilustracionIntro {
    grid-area: ilustracionIntro;
    padding: 90px 70px 120px 50px;
}
