@import "generales";
@import "inicio";
@import "convocatoria";
@import "programa";
@import "sass-dos";

.ilustracionMision {
    max-width: 60%;
    margin-top: 30px;
}

@media screen and (max-width: 576px) {

    nav li {
        padding: 0px;
        margin: 0px;
    }

    .ilustracionIntro {
        padding: 0px 70px 70px 70px;
    }

    .ilustracionMision {
        max-width: 100%;
        margin-top: 30px;

    }

    .gridAreas {
        grid-template-columns: 1fr;
        grid-template-areas:
            "tituloIntro"
            "textoIntro"
            "ilustracionIntro"
    }

    .ilustracionIntro {
        margin-top: 0px;
    }

    .logos {
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    .boton {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gridGaleria {
        grid-template-columns: 1fr;
        grid-template-areas:
            "foto1"
            "foto2"
            "foto3";

    }

    .gridJurado {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "tituloJurado"
            "foto1"
            "foto2"
            "foto3"
            "foto4";
    }

}
@media screen and (min-width: 577px) and (max-width: 800px) {
    
    nav li {
        padding: 0px;
        margin: 0px;
    }

    .ilustracionIntro {
        padding: 0px 70px 70px 70px;
    }
    
    .ilustracionMision {
        max-width: 100%;
        margin-top: 30px;
    }

    .gridAreas {
        grid-template-columns: 1fr;
        grid-template-areas:
            "tituloIntro"
            "textoIntro"
            "ilustracionIntro"
    }

    .ilustracionIntro {
        margin-top: 0px;
    }

    .logos {
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

    .boton {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gridGaleria {
        grid-template-columns: 1fr;
        grid-template-areas:
            "foto1"
            "foto2"
            "foto3";

    }

    .gridJurado {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "tituloJurado tituloJurado"
            "foto1        foto2"
            "foto3        foto4";
    }
}
