* {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.logo {
  padding-left: 60px;
  padding-right: 70px;
}

nav li {
  padding: 30px;
}

nav ul a:hover {
  background-color: #eeeaea;
}

.highlight {
  background-color: #eeeaea;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.titulo {
  background-color: #eeeaea;
  padding: 100px 70px 10px 70px;
}

.texto {
  background-color: #eeeaea;
  padding: 10px 70px 30px 70px;
}

h3 {
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: lighter;
  line-height: 35px;
}

.banner {
  background-color: #6536FD;
  padding: 70px;
}

#bannerTexto {
  color: white;
  font-size: 25px;
  text-align: center;
}

.boton {
  background-color: white;
  border: 2px solid black;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.boton:hover {
  color: white;
  background: #060520;
}

.tituloLogos {
  padding: 70px;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tool1 {
  padding-right: 20px;
}

.tool2 {
  padding-right: 20px;
}

.tool3 {
  padding-right: 20px;
}

.gridAreas {
  display: -ms-grid;
  display: grid;
  background-color: #eeeaea;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "tituloIntro      ilustracionIntro" "textoIntro       ilustracionIntro";
}

.gridAreas .tituloIntro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tituloIntro;
  padding: 100px 50px 0px 70px;
}

.gridAreas .textoIntro {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: textoIntro;
  padding: 0px 50px 70px 70px;
}

.gridAreas .ilustracionIntro {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: ilustracionIntro;
  padding: 90px 70px 120px 50px;
}

.gridJurado h4 p {
  line-height: 16px;
}

.formulario {
  padding: 70px;
}

.formulario h2 {
  font-style: normal;
}

.gridJurado {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
  -ms-grid-columns: (2fr)[4];
      grid-template-columns: repeat(4, 2fr);
  -webkit-column-gap: 25px;
          column-gap: 25px;
  padding: 70px 70px 70px 70px;
  background-color: #eeeaea;
      grid-template-areas: "tituloJurado tituloJurado tituloJurado tituloJurado" "foto1        foto2        foto3        foto4";
}

.gridJurado .tituloJurado {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: tituloJurado;
}

.gridJurado .foto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: foto1;
}

.gridJurado .foto2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: foto2;
}

.gridJurado .foto3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: foto3;
}

.gridJurado .foto4 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: foto4;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
}

.gridGaleria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[3];
      grid-template-columns: repeat(3, 2fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding: 10px 70px 100px 70px;
  background-color: #eeeaea;
      grid-template-areas: "foto1            foto2            foto3";
}

.gridGaleria .foto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: foto1;
}

.gridGaleria .foto2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: foto2;
}

.gridGaleria .foto3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: foto3;
}

.contactGrid {
  padding: 40px 70px 100px 70px;
  background-color: #eeeaea;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-row: 2fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
      grid-template-areas: "mapa formularioContact" "mapa perrito";
}

.contactGrid .mapa {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: mapa;
}

.contactGrid .formularioContact {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: formularioContact;
}

.contactGrid .perrito {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: perrito;
}

.perrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 576px) {
  nav li {
    padding: 0px;
    margin: 0px;
  }
  .ilustracionMision {
    max-width: 100%;
    margin-top: 30px;
  }
  .gridAreas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "tituloIntro" "textoIntro" "ilustracionIntro";
  }
  .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .boton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gridGaleria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "foto1" "foto2" "foto3";
  }
  .gridJurado {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "tituloJurado" "foto1" "foto2" "foto3" "foto4";
  }
  .contactGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "formularioContact" "perrito";
  }
  .mapa {
    display: none;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  nav li {
    padding: 0px;
    margin: 0px;
  }
  .ilustracionMision {
    max-width: 100%;
    margin-top: 30px;
  }
  .gridAreas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "tituloIntro" "textoIntro" "ilustracionIntro";
  }
  .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .boton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gridGaleria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "foto1" "foto2" "foto3";
  }
  .gridJurado {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "tituloJurado tituloJurado" "foto1        foto2" "foto3        foto4";
  }
  .contactGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "formularioContact" "perrito";
  }
  .mapa {
    display: none;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridAreas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "tituloIntro      ilustracionIntro" "textoIntro       ilustracionIntro";
  }
  .gridGaleria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[3];
        grid-template-columns: repeat(3, 2fr);
        grid-template-areas: "foto1            foto2            foto3";
  }
  .gridJurado {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 3fr;
        grid-template-rows: 1fr 3fr;
    -ms-grid-columns: (2fr)[4];
        grid-template-columns: repeat(4, 2fr);
        grid-template-areas: "tituloJurado tituloJurado tituloJurado tituloJurado" "foto1        foto2        foto3        foto4";
  }
  .contactGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    grid-row: 2fr 1fr;
        grid-template-areas: "mapa formularioContact" "mapa perrito";
  }
  .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.box-uno {
  background-color: blue;
  width: 400px;
  height: 30px;
}

.box-dos {
  background-color: green;
  width: 300px;
  height: 30px;
}

@media only screen and (max-width: 767px) {
  .ejemplo h2 {
    font-size: 25px;
  }
}

.caja-1 {
  width: 3em;
  background-color: black;
  border: 1px solid red;
  color: white;
}

.caja-2 {
  width: 6em;
  background-color: black;
  border: 1px solid red;
  color: white;
}

.caja-3 {
  width: 9em;
  background-color: black;
  border: 1px solid red;
  color: white;
}

.instagram-icono .instagram-icono {
  background-image: url("../imagenes/instagram.png");
  width: 16px;
  height: 16px;
}

.facebook-icono .facebook-icono {
  background-image: url("../imagenes/facebook.png");
  width: 16px;
  height: 16px;
}

.twitter-icono .twitter-icono {
  background-image: url("../imagenes/twitter.png");
  width: 16px;
  height: 16px;
}

.map {
  background-color: #3673D9;
  text-align: center;
  padding: 1rem;
  font-size: 35px;
}

.redsocial, .redsocial--nueva {
  border: 1px red solid;
  background-color: #324e0e;
}

.redsocial--nueva {
  font-size: 30px;
}

.box {
  height: 50px;
  width: 500px;
  background-color: aqua;
}

.ilustracionMision {
  margin-top: 30px;
  margin-bottom: 40px;
}
/*# sourceMappingURL=estilos.css.map */